/* Container for the client list */
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* List container styles */
.clientList {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

/* Client item styles */
.clientItemHeader,
.clientItem {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.clientItem:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.clientItemHeader {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
}

.noClientsItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  color: #666;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Media queries for different screen sizes */

@media (min-width: 1024px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}
